<!DOCTYPE html>
<html>
<head>
    <title>AI Chatbot</title>
    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="chat-container">
        <h1>Rule Based AI Chatbot</h1>
        <div class="chat-box">
            {% for chat in chats %}
                <p class="user">
                    <b>You:</b> {{ chat.user }}
                </p>
                <p class="bot">
                    <b>Bot:</b> {{ chat.bot }}
                </p>
            {% endfor %}
            </div>
        <form method="POST">
            <input
            type="text"
            name="message"
            placeholder="Type message..."
            autocomplete="off"
            required>
            <button type="submit">
                Send
            </button>
        </form>
    </div>
</body>
</html>